 <meta http-equiv="refresh" content="1">
<h2>Estadísticas:</h2>
<p>Nº total de preguntas: <%=estadistica.n_total_quizes%></p>
<p>Nº total de comentarios: <%=estadistica.n_total_comentarios%></p>
<p>Promedio de comentarios: <%=(estadistica.promedio).toFixed(2)%></p>
<p>Preguntas con comentario: <%=estadistica.con_comentarios%></p>
<p>Preguntas sin comentario: <%=estadistica.n_total_quizes-estadistica.con_comentarios%></p>



